In [1]:
import pandas as pd
import numpy as np

In [ ]:
x = np.random.randint(0,100,(100,1))
df = pd.DataFrame(x, columns=['a'])

In [ ]:
df

In [ ]:
df['Length'] = [n for n in df['a']]

In [ ]:
df['NumWords'] = [n for n in df['a']]

In [ ]:
df['CapWords'] = [type(n) for n in df['a']]

In [ ]:
df.head()

In [ ]:
data = ['Hello !!', 'Hi there, how are you?', 'Good Morning', 'Bad', 'Send me a Text', 'Test']
df = pd.DataFrame(data, columns=['SampleText'])

df['LengthOfText'] = [len(word.split(' ')) for word in df['SampleText']]
df['NumWords'] = [len(txt) for txt in df['SampleText'] if (txt.isalpha)]

In [6]:
from collections import Counter

In [7]:
data = ['Hello !!', 'Hi there, how are you?', 'Good Morning', 'Bad', 'Send me a Text', 'Test']
df = pd.DataFrame(data, columns=['SampleText'])

In [8]:
df.head()

               SampleText
0                Hello !!
1  Hi there, how are you?
2            Good Morning
3                     Bad
4          Send me a Text

In [16]:
a = []
for word in df['SampleText']:
    print(word.split(' '))

df['LengthOfText'] = [len(word.split(' ')) for word in df['SampleText']]

['Hello', '!!']
['Hi', 'there,', 'how', 'are', 'you?']
['Good', 'Morning']
['Bad']
['Send', 'me', 'a', 'Text']
['Test']

In [17]:
df.head()

               SampleText  LengthOfText
0                Hello !!             2
1  Hi there, how are you?             5
2            Good Morning             2
3                     Bad             1
4          Send me a Text             4

In [18]:
df['NumWords'] = [len(txt) for txt in df['SampleText'] if (txt.isalpha)]

In [19]:
df.head()

               SampleText  LengthOfText  NumWords
0                Hello !!             2         8
1  Hi there, how are you?             5        22
2            Good Morning             2        12
3                     Bad             1         3
4          Send me a Text             4        14

In [38]:
a = []
for txt in df['SampleText']:
    for char in txt:
        if char.isupper():
            a.append(char)

In [43]:
a

['H', 'H', 'G', 'M', 'B', 'S', 'T', 'T']

In [50]:
len(df['SampleText'])

6

In [56]:
df['CapWords'] = list(map(lambda x: x.upper(), df['SampleText'])

ValueError: Length of values does not match length of index

In [55]:
df.head()

               SampleText                            CapWords
0                Hello !!  <map object at 0x00000236D7B35A20>
1  Hi there, how are you?  <map object at 0x00000236D7B35A20>
2            Good Morning  <map object at 0x00000236D7B35A20>
3                     Bad  <map object at 0x00000236D7B35A20>
4          Send me a Text  <map object at 0x00000236D7B35A20>